In [41]:
import yfinance as yf
import datetime as dt
import numpy as np
import pandas as pd

# Define the time range
end_date = dt.date(2017,1,1)
start_date = dt.date(2011,6,1)

In [42]:
# Fetch the historical exchange rates
# usd_eur = yf.download('USDEUR=X', start=start_date, end=end_date, interval='1wk')

# usd_cny = yf.download('USDCNY=X', start=start_date, end=end_date, interval='1wk')

# usd_gbp = yf.download('USDGBP=X', start=start_date, end=end_date, interval='1wk')

# usd_cad = yf.download('USDCAD=X', start=start_date, end=end_date, interval='1wk')

# usd_rub = yf.download('USDRUB=X', start=start_date, end=end_date, interval='1wk')

GC = yf.download('GC=F', start=start_date, end=end_date, interval='1d')

ZC= yf.download('ZC=F', start=start_date, end=end_date, interval='1d')

HE = yf.download('HE=F', start=start_date, end=end_date, interval='1d')

CT = yf.download('CT=F', start=start_date, end=end_date, interval='1d')

YM = yf.download('YM=F', start=start_date, end=end_date, interval='1d')

# ZT = yf.download('ZT=F', start=start_date, end=end_date, interval='1wk')

# ZF = yf.download('ZF=F', start=start_date, end=end_date, interval='1wk')

NG = yf.download('NG=F', start=start_date, end=end_date, interval='1d')

GD = yf.download('GD=F', start=start_date, end=end_date, interval='1d')


# krw_usd = yf.download('KRWUSD=X', start=start_date, end=end_date, interval='1wk')

# hkd_usd = yf.download('HKDUSD=X', start=start_date, end=end_date, interval='1wk')

# kwd_usd = yf.download('KWDUSD=X', start=start_date, end=end_date, interval='1wk')

# bhd_usd = yf.download('BHDUSD=X', start=start_date, end=end_date, interval='1wk')

# omr_usd = yf.download('OMRUSD=X', start=start_date, end=end_date, interval='1wk')

# kyd_usd = yf.download('KYDUSD=X', start=start_date, end=end_date, interval='1wk')

# bsd_usd = yf.download('BSDUSD=X', start=start_date, end=end_date, interval='1wk')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [43]:
GD = yf.download('GD=F', start=start_date, end=end_date, interval='1wk')
r_INDEX = pd.DataFrame()
r_INDEX['GD'] = GD['Close'].pct_change()
r_INDEX.to_pickle('index_ret.pkl')

[*********************100%***********************]  1 of 1 completed

In [44]:
future_price = pd.DataFrame()
future_price["GC"] = GC['Close']
future_price["ZC"] = ZC['Close']
future_price["HE"] = HE['Close']
future_price["CT"] = CT['Close']
future_price["YM"] = YM['Close']
# future_price["ZT"] = ZT['Close']
# future_price["ZF"] = ZF['Close']
future_price["NG"] = NG['Close']
future_price.head(10)

                     GC     ZC         HE          CT       YM     NG
Date
2011-06-01  1542.400024  758.5  89.775002  160.970001  12274.0  4.629
2011-06-02  1532.000000  766.5  89.074997  164.240005  12238.0  4.794
2011-06-03  1541.699951  754.0  89.224998  161.630005  12125.0  4.707
2011-06-06  1546.500000  732.0  89.699997  155.630005  12087.0  4.827
2011-06-07  1543.300049  736.5  89.625000  148.630005  12072.0  4.831
2011-06-08  1538.099976  764.0  89.699997  145.050003  12030.0  4.847
2011-06-09  1542.099976  785.5  90.449997  151.050003  12113.0  4.674
2011-06-10  1528.599976  787.0  91.699997  150.029999  11941.0  4.757
2011-06-13  1515.000000  782.5  92.474998  150.949997  11953.0  4.646
2011-06-14  1523.800049  755.5  91.849998  155.539993  12087.0  4.581

In [45]:
df_P_bear = future_price
mask = pd.date_range(start=df_P_bear.index[4], end=df_P_bear.index[-1], freq='5D')
df = df_P_bear[df_P_bear.index.isin(mask)]
df.head()

                     GC      ZC         HE          CT       YM     NG
Date
2011-06-07  1543.300049  736.50  89.625000  148.630005  12072.0  4.831
2011-06-17  1538.599976  700.25  95.650002  145.179993  12047.0  4.325
2011-06-22  1552.900024  677.50  98.275002  161.220001  12023.0  4.317
2011-06-27  1496.000000  660.75  94.150002  162.000000  11990.0  4.256
2011-07-07  1530.199951  650.00  97.150002  136.199997  12681.0  4.133

In [46]:
df.to_pickle('future_price_bear.pkl')

In [47]:
# weekly_return["GC"] = GC['Close'].pct_change()
# weekly_return["ZC"] = ZC['Close'].pct_change()
# weekly_return["HE"] = HE['Close'].pct_change()
# weekly_return["CT"] = CT['Close'].pct_change()
# weekly_return["YM"] = YM['Close'].pct_change()
# # weekly_return["ZT"] = ZT['Close'].pct_change()
# # weekly_return["ZF"] = ZF['Close'].pct_change()
# weekly_return["NG"] = NG['Close'].pct_change()
# # weekly_return["KRW/USD"] = krw_usd['Close'].pct_change()
# # weekly_return["HKD/USD"] = hkd_usd['Close'].pct_change()
# # weekly_return["KWD/USD"] = kwd_usd['Close'].pct_change()
# # weekly_return["BHD/USD"] = bhd_usd['Close'].pct_change()
# # weekly_return["OMR/USD"] = omr_usd['Close'].pct_change()
# # weekly_return["KYD/USD"] = kyd_usd['Close'].pct_change()
# # weekly_return["BSD/USD"] = bsd_usd['Close'].pct_change()
# weekly_return.iloc[101]

df_r = df.pct_change()
df_r.head()

                  GC        ZC        HE        CT        YM       NG
Date
2011-06-07       NaN       NaN       NaN       NaN       NaN      NaN
2011-06-17 -0.003045 -0.049219  0.067225 -0.023212 -0.002071 -0.10474
2011-06-22  0.009294 -0.032488  0.027444  0.110484 -0.001992 -0.00185
2011-06-27 -0.036641 -0.024723 -0.041974  0.004838 -0.002745 -0.01413
2011-07-07  0.022861 -0.016269  0.031864 -0.159259  0.057631 -0.02890

In [48]:
df_r.to_pickle('future_return_bear.pkl')

In [49]:
# EXPORT LOG_RETURN.XLSX
# log_return.to_excel('log_return.xlsx', index=False, engine='openpyxl')

In [50]:
# EXPORT weekly_return.XLSX
# weekly_return.to_excel('weekly_return.xlsx', index=False, engine='openpyxl')

In [51]:
# EXPORT LOG_RETURN.PKL
# log_return.to_pickle('log_return.pkl')

In [52]:
# EXPORT EXCHANGE_RATES.PKL
# exchange_rates.to_pickle('exchange_rates.pkl')

In [53]:
# EXPORT DAILY_RETURN.PKL
# pct_return.to_pickle('pct_return.pkl')